<!-- MASTHEAD -->
<header class="masthead">
	<!-- NAVBAR -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./index.html"><i class="fa fa-adjust"></i> <span>Lappo</span>land</a>
			</div><!-- /.navbar-header -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav pull-right">
					<li><a href="#" class="font-italic" data-toggle="modal" data-target="#myModal1">Have an Account?</a></li>
					<li><a href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal2">Login</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
	<!-- NAVBAR -->

	<!-- JUMBOTRON -->
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Title Goes Here</h3>
					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio</p>
					<p><a class="btn btn-default btn-lg" role="button">Try the demo now!</a></p>
				</div>
				<div class="col-md-4">
					<img src="img/iphone5.png" alt="" class="img-iphone img-responsive">
				</div>
				<div class="col-md-4">
					<div class="desc-right">
						<h4>Ut wisi enim ad minim veniam.</h4>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
					</div>

					<div class="desc-right">
						<h4>Duis autem vel eum iriure.</h4>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
					</div>

					<div class="desc-right">
						<h4>Nam liber tempor cum soluta nobis eleifend.</h4>
						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div>
	<!-- JUMBOTRON -->
</header>
<!-- MASTHEAD -->
