<div ng-controller="iphoneSliderCtrl">

  <carousel interval="intervalTimer">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" class="img-iphone img-responsive" alt="{{slide.alt}}">
    </slide>
  </carousel>

</div>
