<div class='features'>
  <div class='container'>
    <div class="col-md-4">
      <h2>Always in the loop.</h2>
      <p>Receive trending discounts at the places you love, and additional offers by being a loyal customer at the bars and restaurants you visit most in town.</p>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <%= image_tag 'screenshots/town.png', class: 'img-iphone img-responsive no-margin' %>
    </div>
  </div>
</div>
