<div ng-controller='newUserCtrl'>

  <div ng-hide='formSubmitted'>
    <p>Earn rewards at your favorite college town restaurants and bars without taking your phone out of your pocket.</p>
    <form ng-submit='addUser()'>
      <div class='form-group'>
        <input type="text" class="form-control" placeholder="Full Name" ng-model='newUser.name' required>
      </div>
      <div class='form-group'>
        <input type="email" class="form-control" placeholder="Email" ng-model='newUser.email' required>
      </div>
      <div class='form-group'>
        <input type="tel" class="form-control" placeholder="Phone Number" ng-model='newUser.phone_number' required>
      </div>
      <% if market.present? %>
        <input type="hidden" ng-model="newUser.market_id" value="<%= market.id %>" id='default_market_id'>
      <% else %>
        <div class='form-group'>
          <select class='form-control' required ng-model='newUser.market_id'>
            <option value="">Select a school</option>
            <%= options_for_select(Market.pluck(:name, :id)) %>
          </select>
        </div>
      <% end %>
      <input type="hidden" ng-model="newUser.beta" value="true">
      <button type="submit" class="btn btn-success btn-block">Get Early Access!</button>
    </form>
  </div>

  <div ng-show='formSubmitted'>
    <p>Thanks for joining Yab, {{newUser.name}}!</p>
    <p>We're not quite ready for launch yet but we'll be starting our official beta-test with you soon! Keep an eye out for a text with a link to download Yab!</ p>
    <p>Be sure to Like, Follow, and +1 us in the meantime to stay updated on special offers and contests!  Welcome to Yab!</p>

    <div class='row'>
      <div class='col-xs-4'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://getyab.com" data-counturl="http://getyab.com" data-lang="en" data-count="vertical" data-text='RT and sign up for @GetYab app for a chance to win free pizaa every day for a semester' >Tweet</a>
      </div>
      <div class='col-xs-4'>
        <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60" data-href="http://getyab.com" data-width='60' data-callback='plusOneClick'></div>
      </div>
      <div class='col-xs-4'>
        <div class="fb-share-button" data-href="http://getyab.com" data-type="box_count"></div>
      </div>
    </div>

  </div>

</div>
