<div class="container services">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag 'landing/iphone5.png', class: 'img-iphone img-responsive' %>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
      <h2>Automatic Check-Ins</h2>
      <p>No check-in or QR code scanning is necessary. Please, keep your phone in your pocket.</p>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
