<div class="container services">
  <div class="col-md-4">
    <%= image_tag 'screenshots/town.png', class: 'img-iphone img-responsive' %>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <h2>Always in the loop.</h2>
    <p>Receive trending discounts at the places you love. Receive additional offers by being a loyal customer at the bars and restaurants you visit most in town.</p>
  </div>
</div><!-- /.container -->
