<div class="container services">
	<div class="container">
    <div class="col-md-4">
      <%= image_tag 'screenshots/automatic.png', class: 'img-iphone img-responsive' %>
    </div>
    <div class="col-md-5 col col-md-offset-2">
      <h3>Automatic Rewards</h3>
      <p>Enjoy automatic rewards every time you visit With Yab, there’s no need to take your phone out of your pocket.</p>
    </div>
	</div><!-- /.container -->
</div>
