<div class="container services">
  <div class="col-md-4">
    <%= image_tag 'landing/continue.png', class: 'img-iphone img-responsive' %>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <h2>Automatically Earn Rewards</h2>
    <p>Download the Yab iPhone app to automatically earn rewards at your favorite restaurants and bars. No check-ins or scanning is necessary.</p>
  </div>
</div><!-- /.container -->
