<!-- FEATURES -->
<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
        <%= image_tag 'landing/iphone5-wh.png', class: 'img-iphone img-responsive' %>
			</div>
			<div class="col-md-7">
				<h3>Real-time Customer Insight</h3>
				<p>With Yab, learn more about your most loyal customers in real-time. Customer demographic, loyalty score and past activity can viewed right from your iPhone or Android device.</p>
				<h3>Communication Channel</h3>
				<p>Send your customers emails, text-messages or push notifications. Automate communication based on loyalty score or time last visited.</p>
				<ul class="btn-responsive">
					<li><a class="btn btn-default to-right" role="button"><i class="fa fa-apple"></i> Apple</a></li>
					<li><a class="btn btn-default to-right" role="button"><i class="fa fa-android"></i> Android</a></li>
				</ul><!-- /.btn-responsive -->
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
<!-- FEATURES -->
