<div class="features">
	<div class="container">
		<div class="row">
      <div class="col-lg-6">
				<h3>Free Rewards</h3>
        <p>Earn selected rewards for being a loyal customer at your favorite restaurants and bars in town.</p>
			</div>
			<div class="col-lg-4 col-lg-offset-1">
        <%= image_tag 'landing/iphone5-wh.png', class: 'img-iphone img-responsive' %>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
