<div class="features">
	<div class="container">
    <div class="col-md-4">
      <h3>Automatic Rewards</h3>
      <p>Enjoy automatic rewards every time you visit With Yab, there’s no need to take your phone out of your pocket. Earn Yab points automatically when you enter a restaurant or bar.</p>
    </div>
    <div class="col-md-5 col col-md-offset-2">
      <%= image_tag 'landing/iphone5-wh.png', class: 'img-iphone img-responsive' %>
    </div>
	</div><!-- /.container -->
</div>
