<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>Loyalty Program App</h3>
        <%= render :partial => 'pages/landing/signup' %>
      </div>
      <div class="col-md-4 pull-right">
        <%= render :partial => 'pages/landing/iphone_slider' %>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
