<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Title Goes Here</h3>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio</p>
        <p><a class="btn btn-default btn-lg" role="button">Try the demo now!</a></p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'landing/iphone5.png', class: 'img-iphone img-responsive'  %>
      </div>
      <div class="col-md-4">
        <div class="desc-right">
          <h4>Ut wisi enim ad minim veniam.</h4>
          <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
        </div>

        <div class="desc-right">
          <h4>Duis autem vel eum iriure.</h4>
          <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
        </div>

        <div class="desc-right">
          <h4>Nam liber tempor cum soluta nobis eleifend.</h4>
          <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- JUMBOTRON -->
