<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>Loyalty Program App</h3>
        <p>Earn rewards at your favorite State College restaurants and bars without taking your 
        phone out of your pocket.</p>
        <p>Sign up to test Yab for a chance to win a slice of Canyon Pizza every day for a semester.</p>

        <form role="form">
          <div class='form-group'>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
          </div>
          <div class='form-group'>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
          </div>
          <button type="submit" class="btn btn-success btn-block">I'm In!</button>
        </form>

      </div>
      <div class="col-md-4 pull-right">
        <%= image_tag 'landing/iphone5yab2.png', class: 'img-iphone img-responsive'  %>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- JUMBOTRON -->
