<div class="container margin-top level">
  <div class="col-md-5">
    <%= image_tag 'landing/welcome.png', class: 'img-iphone img-responsive' %>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <h2>Friendly Competition</h2>
    <p>Compete with friends and earn achievement Earn achievements for completing bar tours or visiting all the sushi restaurants in town. See how you rank against your friends on the Yab leaderboard.</p>
  </div>
</div><!-- /.container -->
