<div class="container margin-top level">
  <div class="col-md-4">
    <%= image_tag 'landing/levelup.png', class: 'img-iphone img-responsive' %>
  </div>
  <div class="col-md-8">
    <h2>Friendly Competition</h2>
    <p>Compete with friends for Yab points. Level up in your town, earn achievements and check your ranking on the Yab leaderboard.</p>
  </div>
</div><!-- /.container -->
