<div class="container margin-top level">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag 'landing/iphone5.png', class: 'img-iphone img-responsive' %>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
      <h2>Automatic Check-Ins</h2>
      <p>Compete with friends, earn achievements for bar crawls or special events and level up in your town.</p>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
