<div class="container margin-top level">
  <div class="col-md-4">
    <%= image_tag 'landing/iphone5.png', class: 'img-iphone img-responsive' %>
  </div>
  <div class="col-md-5 col col-md-offset-2">
    <h2>Automatic Check-Ins</h2>
    <p>Compete with friends, earn achievements for bar crawls or special events and level up in your town.</p>
  </div>
</div><!-- /.container -->
