<!-- PRICING TABLES -->
<div class="price-tables">
	<div class="container">
		<h3>Plans &amp; Pricing</h3>
		<div class="row margin-top">
			<div class="col-md-4">
				<div class="price-content">
					<div class="price-head">
						<h2>Bronze</h2>
						<h4>.25 <i class="fa fa-dollar"></i> / Visit</h4>
					</div>
					<div class="price-body">
						<ul>
							<li>1 Public Apps</li>
							<li>5GB Bandwidth</li>
							<li>1 User Accounts</li>
							<li>Share &amp; embed apps</li>
						</ul>
					</div>
				</div><!-- /.price-content -->
			</div>
			<div class="col-md-4">
				<div class="price-content">
					<div class="pop">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
						</span>
					</div>
					<div class="price-head">
						<h2>Silver</h2>
						<h4>.50 <i class="fa fa-dollar"></i> / Visit</h4>
					</div>
					<div class="price-body">
						<ul>
							<li>200 Public Apps</li>
							<li>25GB Bandwidth</li>
							<li>5 User Accounts</li>
							<li>Share &amp; embed apps</li>
						</ul>
					</div>
				</div><!-- /.price-content -->
			</div>
			<div class="col-md-4">
				<div class="price-content">
					<div class="price-head">
						<h2>Gold</h2>
						<h4>.75 <i class="fa fa-dollar"></i> / Month</h4>
					</div>
					<div class="price-body">
						<ul>
							<li>8 Public Apps</li>
							<li>50GB Bandwidth</li>
							<li>10 User Accounts</li>
							<li>Share &amp; embed apps</li>
						</ul>
					</div>
				</div><!-- /.price-content -->
			</div>
		</div><!-- /.row -->

			<div class="col-md-2"></div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
<!-- PRICING TABLES -->
