<div class="services">
	<div class="container">
		<h3>Why Yab?</h3>
		<div class="row margin-top">
			<div class="col-md-4">
				<i class="fa fa-cog"></i>
				<h4>Automatic Check-Ins</h4>
				<p>No check-in or QR code scanning is necessary. Please, keep your phone in your pocket.</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-money"></i>
				<h4>Free Rewards</h4>
				<p>Earn selected rewards for being a loyal customer at your favorite restaurants and bars in town. </p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-level-up"></i>
				<h4>Level-Up</h4>
				<p>Compete with friends, earn achievements for bar crawls or special events and level up in your town.</p>

			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
