<!-- SERVICES -->
<div class="services">
	<div class="container">
		<h3>Everything You Need To Know</h3>
		<div class="row margin-top">
			<div class="col-md-4">
				<i class="fa fa-cog"></i>
				<h4>Title Goes Here</h4>
				<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
				<p><a class="btn btn-danger" role="button">Learn more</a></p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-flask"></i>
				<h4>Title Goes Here</h4>
				<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
				<p><a class="btn btn-danger" role="button">Learn more</a></p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-compress"></i>
				<h4>Title Goes Here</h4>
				<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
				<p><a class="btn btn-danger" role="button">Learn more</a></p>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
<!-- SERVICES -->
