<!-- SERVICES -->
<div class="services">
	<div class="container">
		<h3>Why Yab?</h3>
		<div class="row margin-top">
			<div class="col-md-4">
				<i class="fa fa-cog"></i>
				<h4>Convenience</h4>
				<p>No check-in or QR code scanning is necessary. Please, keep your phone in your pocket.</p>
				<p><a class="btn btn-danger" role="button">Learn more</a></p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-money"></i>
				<h4>Free Rewards</h4>
				<p>Finally earn rewards for being a loyal customer at your favorite restaurants and bars in town. </p>
				<p><a class="btn btn-danger" role="button">Learn more</a></p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-compress"></i>
				<h4>Title Goes Here</h4>
				<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
				<p><a class="btn btn-danger" role="button">Learn more</a></p>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
<!-- SERVICES -->
