<!-- TESTIMONIAL -->
<div class="testimonial">
	<div class="container">
		<div id="my-corousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#my-corousel" data-slide-to="0" class="active"></li>
				<li data-target="#my-corousel" data-slide-to="1"></li>
				<li data-target="#my-corousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption">
						<h3>&ldquo; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. &rdquo;</h3>
						<h4 class="margin-top">&ndash; Jumyanti Does</h4>
					</div>
				</div>

				<div class="item">
					<div class="carousel-caption">
						<h3>&ldquo; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. &rdquo;</h3>
						<h4 class="margin-top">&ndash; Kurniawan Doekoe</h4>
					</div>
				</div>

				<div class="item">
					<div class="carousel-caption">
						<h3>&ldquo; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. &rdquo;</h3>
						<h4 class="margin-top">&ndash; Soesana Doemar</h4>
					</div>
				</div>
			</div>
		</div><!-- /.carousel -->
	</div><!-- /.container -->
</div>
<!-- TESTIMONIAL -->
