<footer class="footer">
	<div class="container">
    <p>Copyright &copy; 2014 <%= link_to 'Yab', root_path %>. All rights reserved.</p>
    <br />
    <p>Made with love at</p>
    <small>
      112 E College Ave #8<br />
      State College, PA 16801
    </small>
	</div>
</footer>
