<footer class="footer">
	<div class="container">
		<p>Copyright &copy; 2014 <a href="./index.html">Yab</a>. All right reserved.</p>
    <br />
    <p>Made with love at</p>
    <small>
      112 E College Ave #8<br />
      State College, PA 16801
    </small>
	</div><!-- /.container -->
</footer>
