<!-- FOOTER -->
<footer class="footer">
	<div class="container">
		<p>Copyright &copy; 2013 <a href="./index.html">Lappoland</a>. All right reserved.</p>
	</div><!-- /.container -->
</footer>
<!-- FOOTER -->
